.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.album {
    background-color: #f8f9fa;
}
.card {
    border-radius: 15px;
}
.card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.btn-group {
    font-size: 0.9rem;
}
.text-body-secondary {
    font-size: 0.8rem;
}

main {
    direction: rtl;
}